<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poultry Guard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    <!-- Inter Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav>
            <h1>PoultryGuard</h1>
            <button id="menu-toggle" aria-label="Toggle navigation">☰</button>
            <ul id="navbar">
                <li><a href="https://id.arduino.cc/?iss=https%3A%2F%2Flogin.arduino.cc%2F#/sso/login" rel='noreferrer' target="_blank">IOT Cloud</a></li>
                <li><a href="{{ url_for('webcam_feed') }}" target="_blank">RGB Feed</a></li>
                <li><a href="{{ url_for('thermal_feed') }}" target="_blank">Thermal Feed</a></li>                
                <li><a href="{{ url_for('download_csv') }}" >Download CSV</a></li>                
            </ul>
        </nav>
    </header>   

    <div id="feeds">
        <!-- Webcam feed -->
        <div class="video-feed" id="webcam-feed">
            <h2>Webcam Feed</h2>
            <img src="{{ url_for('webcam_feed') }}" alt="RGB Feed" id="webcam-img">
        </div>

        <!-- Thermal feed -->
        <div class="video-feed" id="thermal-feed">
            <h2>Thermal Feed</h2>
            <img src="{{ url_for('thermal_feed') }}" alt="Thermal Feed" id="thermal-img">
        </div>
    </div>

    <div id="status">
        <h2>Status</h2>
        <p id="temp"><span class="label">Temperature Threshold:</span> <span id="temp-value"></span></p>
        <p id="phone-number"><span class="label">Saved Phone Number:</span> <span id="phone-number-value"></span></p>
        <p id="arduino-status"><span class="label">Distance Threshold:</span> <span id="arduino-status-value"></span></p>
    </div>    

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
